*.log
*.pot
*.pyc
__pycache__/
local_settings.py
*.pyc
.env
.venv
*.sqlite3
db.sqlite3
db.sqlite3-journal
# Игнорировать медиа-файлы
barbershop/media/
# Но не игнорировать эти подкаталоги
!barbershop/media/masters/
!barbershop/media/services/